[
  {rabbitmq_auth_backend_ldap,
    [
      {resource_access_query,
        {for, [
          {resource, exchange,
            {
                {for, [
                        {permission, configure, {in_group,'CN="${vhost}-admins",OU=Vhosts,DC=example,DC=com'}},
                        {permission, write,
                          {or,
                            [
                              {in_group,'CN="${vhost}-admins",OU=Vhosts,DC=example,DC=com'},
                              {in_group,'CN="${vhost}-users",OU=Vhosts,DC=example,DC=com'}
                            ]
                          }
                        },
                        {permission, read,
                          {or,
                            [
                              {in_group,'CN="${vhost}-admins",OU=Vhosts,DC=example,DC=com'},
                              {in_group,'CN="${vhost}-users",OU=Vhosts,DC=example,DC=com'}
                            ]
                          }
                        }
                       ]
                 }
             }
           },
           {resource, queue, {
             {for, [
                    {permission, configure,
                      {or,
                        [
                          {in_group,'CN="${vhost}-admins",OU=Vhosts,DC=example,DC=com'},
                          {in_group,'CN="${vhost}-users",OU=Vhosts,DC=example,DC=com'}
                        ]
                      }
                    },
                    {permission, write,
                      {or,
                        [
                          {in_group, 'CN="${vhost}-admins",OU=Vhosts,DC=example,DC=com'},
                          {in_group,'CN="${vhost}-users",OU=Vhosts,DC=example,DC=com'}
                        ]
                      }
                    },
                    {permission, read,
                      {or,
                        [
                          {in_group, 'CN="${vhost}-admins",OU=Vhosts,DC=example,DC=com'},
                          {in_group,'CN="${vhost}-users",OU=Vhosts,DC=example,DC=com'}
                        ]
                      }
                    }
                   ]
             }
           }}
          ]
        }
      }
    ]
  },
  {tag_queries, [
   {administrator,{constant, false}},
   {management,   {constant, true}}
   ]
  }
].
