[
  {rabbitmq_auth_backend_ldap, [
    %%
    %% Authorisation
    %% =============
    %%

    %% The LDAP plugin can perform a variety of queries against your
    %% LDAP server to determine questions of authorisation. See
    %% https://www.rabbitmq.com/ldap.html#authorisation for more
    %% information.

    %% Set the query to use when determining vhost access
    %%
    %% {vhost_access_query, {in_group,
    %%                     "CN=rabbitmq-admins,OU=Groups,DC=example,DC=com"}},

    %% Set the query to use when determining resource (e.g., queue) access
    %%
    %% {resource_access_query, {constant, true}},

    %% Set queries to determine which tags a user has
    %%
    %%{tag_queries, [
    %%   {administrator, {in_group,"CN=rabbitmq-admins,OU=Groups,DC=example,DC=com"}},
    %%   {management, {in_group,"CN=rabbitmq-users,OU=Groups,DC=example,DC=com"}},
    %%]}

    {tag_queries, [
      {administrator, {constant, true}},
      {management, {constant, true}}
    ]}
 ]}
].
